@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://fonts.gstatic.com/l/font?kit=FwZY7-Qmy14u9lezJ96F-sj7wDHL&skey=a336e4011ec32111&v=v12) format('woff2');
}
