@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(http://fonts.gstatic.com/l/font?kit=vm8vdRfvXFLG3OLnsO15WYS5DF760tVeEA&skey=31e8905c8b129a4e&v=v6) format('woff2');
}
